@servers(['hosting'=> 'root@example -p 22'])

@task('deploy', ['on' => 'hosting'])
    cd /home/root/web
    git pull origin master
    composer install
    php artisan migrate
    php artisan optimize
@endtask